spring:
  config:
    activate:
      on-profile: prod

  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT:6379}

  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    mongodb:
      uri: ${MONGODB_URI}

jwt:
  secret: ${JWT_SECRET}
